@charset "UTF-8";

/* 基本の設定 -------------------------------------------- */
body {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; /* フォントを指定 */
	font-size: 16px; /* 書体データの大きさを指定 */
	line-height: 1.7; /* 行ボックスの高さを指定 */
	margin: 0; /* 要素間の間隔 */
	padding: 0; /* 要素内の余白 */
}

section, article, aside, header, footer { display: block; } /* コンテンツをまとめるブロック */

h1,h2,h3,h4 {
	text-align: center; /* テキストの水平方向への配置を中央に指定 */
	font-family: "Montserrat",sans-serif;
	font-weight: bold; /* フォントの太さを指定 */
}

h5 {
	text-align: center;
	font-family: "Montserrat",sans-serif;
	font-weight: 100;
}

ul, li {
	margin: 15px;
	padding: 0;
	position: relative; /* 要素を相対的配置で指定 */
}

.side-menu-style {
	list-style: none; /* リストとして認識させない */
	top: 10px; /* 上からの距離 */
}

a { text-decoration: none; } /* テキストの装飾を指定しない */

.color-blue { color: rgb(0, 217, 255); } /* 色を指定 */
.color-red { color: red; }
.color-green { color: rgb(18, 253, 69); }

img { /* フルードイメージ（画層を画面サイズに合わせて調整）対応 */
	max-width: 100%; /* 要素の最大幅を指定 */
	height: auto; /* 自動的に中身の要素に高さを合わせる */
}

/* ナビエリア -------------------------------------------- */
nav {
	background: url("../images/top/SideMenu.jpg") no-repeat fixed center bottom / cover ; /* 背景の画層を挿入、繰り返さず１枚だけ、画面の決まった位置に固定、真ん中、下からの距離、画像を拡大縮小必要に応じて引き伸ばし */
	width: 100%; /* 要素の幅を指定 */
	max-width: 200px;
	font-size: 25px;
	padding-bottom: 1600px; /* 要素内の余白を指定 */
	margin-bottom:-1600px;
	top: 0; /* 上からの距離 */
	position: fixed; /*要素を固定配置で指定*/
}

.github-icon {
	width: 20%;
	margin: 30px 20px;
	padding: 0;
}

/* ヘッダー -------------------------------------------- */
header {
	width: 100%;
	padding: 2em 0;
	background: url("../images/top/header.jpg") no-repeat fixed center bottom / cover ; /* 背景の画層を挿入、繰り返さず１枚だけ、画面の決まった位置に固定、真ん中、下からの距離、画像を拡大縮小必要に応じて引き伸ばし */
	margin-left: 200px; /* 要素の左の間隔 */
	top: 0;
	right: 0; /* 右からの距離 */
	position: absolute; /*要素を絶対配置で指定*/
}

/* メインエリア -------------------------------------------- */
main {
	width: 100%;
	max-width: 1470px;
	margin: 140px 0 0 200px;
}

/* リンク文字の色設定 */
main a { color: #2c9795; }

/* フッター -------------------------------------------- */
footer {
	background-color: #57b0f8;
	color: #40666a;
	font-family: "Montserrat",sans-serif;
	text-align: center;
	width: 100%;
	padding: 4em 0;
	position: relative;
	clear: both;
}

/* 写真の設定 -------------------------------------------- */
.photo {
	width: 20%;
	margin: 6em 0 3em 9em;
	padding: 1em;
	float: left;
}

/* プロフィールの設定 -------------------------------------------- */
.profile {
	width: 100%;
	max-width: 1000px;
	margin: 3em 0;
	padding: 0;
	float: left;
}

/* 表の装飾 -------------------------------------------- */
table { /* 表全体の外枠 */
	border: 0px solid #ddd; /* 要素の境界、太さ、１本線で表示、色 */
	border-collapse: separate; /* セルのボーダーの表示の仕方を指定、 隣接するセルのボーダーを間隔を開けずに表示*/
	border-spacing: 0 20px; /* 隣り合うセルの境界同士の間隔 */
	margin: 3em 1em 3em 11em;
	padding-right: 12em;
}
table th { /* 表の左全体の枠 */
	border: solid rgb(0, 0, 0);
	border-width: 0 0 1px 8px; /* セル内の線の場所と太さを指定 */
	line-height: 120%; /* セル内の高さを少し低めに指定 */
	padding: 20px 8px; /* セル内の余白を指定 */
	width: 15%; /* 横同士のセルの比率を指定 */
}
table td { /* 表の右全体の枠 */
	border: solid rgb(0, 0, 0);
	border-width: 0 0 1px 0;
	padding: 20px 20px;
	width: 85%;
}

/* セクションエリア -------------------------------------------- */
section {
	width: 100%;
	max-width: 1440px;
	margin-left: 40px;
	float: left;
}

.title {
	width: 94%;
	border: solid #00a2ff;
	border-width: 1px 1px 1px 10px;
	margin-top: 80px;
}

.card {
	width: 300px;
	margin: 50px 20px;
	padding: 0;
	float: left;
}

.card-color-html {
	background-color: #a4fcff;
	height: 600px;
}

.card-color-css {
	background-color: #fffda4;
	height: 600px;
}

.card-color-javascript {
	background-color: #a4ffa9;
	height: 600px;
}

.card-color-php {
	background-color: #f7a4ff;
	height: 600px;
}

.card-color-mysql {
	background-color: #ffbea4;
	height: 600px;
}

.card-color-github {
	background-color: #d3d3d3;
	height: 600px;
}

.card-color-arduino {
	background-color: #a4ffcd;
	height: 600px;
}

.card-color-arcad {
	background-color: #a4ffcd;
	height: 600px;
}

.card-color-autocad {
	background-color: #ffa4a4;
	height: 600px;
}

.card-color-solidworks {
	background-color: #ffa4a4;
	height: 600px;
}

.card-color-stream {
	background-color: #ffa4a4;
	height: 600px;
}

.card-color-fritzing {
	background-color: #ffa4a4;
	height: 600px;
}

.card-color-ltspice {
	background-color: #a4d3ff;
	height: 600px;
}

.card-color-bsch3v {
	background-color: #fffda4;
	height: 600px;
}

.card-color-flatcam {
	background-color: #ffeaa4;
	height: 600px;
}

.card-color-usbcnc {
	background-color: #f0f0f0;
	height: 600px;
}

.card-color-kanken {
	background-color: #fdec9f;
	height: 600px;
}





.skill-title {
	padding: 2px;
}

.skill-icon-html {
	width: 50%;
	margin: 0;
	padding: 0 75px;
}

.skill-icon-css {
	width: 50%;
	margin: 0;
	padding: 0 75px;
}

.skill-icon-javascript {
	width: 50%;
	margin: 0;
	padding: 0 75px;
}

.skill-icon-php {
	width: 57%;
	margin: 0;
	padding: 0 65px;
}

.skill-icon-mysql {
	width: 50%;
	margin: 0;
	padding: 0 75px;
}

.skill-icon-github {
	width: 50%;
	margin: 0;
	padding: 0 75px;
}

.skill-icon-arduino {
	width: 50%;
	margin: 0;
	padding: 0 75px;
}

.skill-icon-arcad {
	width: 50%;
	margin: 0;
	padding: 0 75px;
}

.skill-icon-autocad {
	width: 89%;
	margin: 0;
	padding: 0 30px;
}

.skill-icon-solidworks {
	width: 50%;
	margin: 0;
	padding: 0 75px;
}

.skill-icon-stream {
	width: 48%;
	margin: 0;
	padding: 0 78px;
}

.skill-icon-fritzing {
	width: 50%;
	margin: 0;
	padding: 0 75px;
}

.skill-icon-ltspice {
	width: 92%;
	margin: 0;
	padding: 0 12px;
}

.skill-icon-bsch3v {
	width: 50%;
	margin: 0;
	padding: 0 75px;
}

.skill-icon-flatcam {
	width: 50%;
	margin: 0;
	padding: 0 75px;
}

.skill-icon-usbcnc {
	width: 70%;
	margin: 0;
	padding: 0 50px;
}

.skill-icon-kanken {
	width: 88%;
	margin: 0;
	padding: 0 18px;
}





.section-text {
	padding: 15px;
}

.book {
	text-align: center;
	font-size: 14px;
	margin: 10px 0;
	padding: 5px 0;
}

.book-color-html {
	background-color: #dcfeff;
	border-radius: 10px; /* 角の丸み */
	padding: 5px 0;
}

.book-color-css {
	background-color: #fdffdc;
	border-radius: 10px;
	padding: 5px 0;
}

.book-color-javascript {
	background-color: #dcffdc;
	border-radius: 10px;
	padding: 5px 0;
}

.book-color-php {
	background-color: #fbdcff;
	border-radius: 10px;
	padding: 5px 0;
}

.book-color-mysql {
	background-color: #ffefdc;
	border-radius: 10px;
	padding: 5px 0;
}

.book-color-github {
	background-color: #e7e7e7;
	border-radius: 10px;
	padding: 5px 0;
}





.book-title {
	text-align: left;
	font-size: 12px;
	padding: 5px 15px;
}

.underline {
	text-decoration: underline;
}





.app-photo {
	width: 96%;
	margin: 0;
	padding: 20px 10px 0px 10px;
}

.card-app {
	width: 640px;
	margin: 50px 20px;
	padding: 0;
	float: left;
}

.card-color-graph {
	background-color: #a4fcff;
	height: 420px;
}

.card-color-sort {
	background-color: #ffbea4;
	height: 420px;
}

.card-color-search {
	background-color: #fffda4;
	height: 420px;
}

.card-color-titlesindex {
	background-color: #a4ffa9;
	height: 420px;
}

.app-photo-index {
	width: 93%;
	margin: 0;
	padding: 0 10px;
}

.app {
	text-align: center;
	font-size: 14px;
	margin: 10px 0;
	padding: 5px 0;
}


/* ---------------------- 画面の横幅が1500px以下の場合に適用（タブレット用） ---------------------- */
@media screen and (max-width: 1500px) {
nav {
	max-width: 150px;
	font-size: 18px;
	padding-bottom: 2300px; /* 要素内の余白を指定 */
	margin-bottom:-2300px;
}

h1 {
	margin-left: 140px;
}

main {
	max-width: 650px;
	margin: 200px 0 0 115px;
}

.photo {
	float: none; /* フロート解除して縦一列に並べる */
	margin-left: 120px;
	width: 60%;
}

table {
	margin-left: 3em;
	padding-left: 0;
	padding-right: 3em;
}

table th {
	padding: 0; /* セル内の余白を指定 */
	width: 20%; /* 横同士のセルの比率を指定 */
}

table td {
	padding: 0;
	width: 80%;
}

section {
	max-width: 600px;
	margin-left: 50px;
}

.title {
	width: 95%;
	margin-top: 60px;
}

.card {
	width: 250px;
	margin: 20px 20px;
}

.card-color-html {
	height: 500px;
}

.card-color-css {
	height: 500px;
}

.card-color-javascript {
	height: 500px;
}

.card-color-php {
	height: 500px;
}

.card-color-mysql {
	height: 500px;
}

.card-color-github {
	height: 500px;
}

.card-color-arduino {
	height: 500px;
}

.card-color-arcad {
	height: 500px;
}

.card-color-autocad {
	height: 500px;
}

.card-color-solidworks {
	height: 500px;
}

.card-color-stream {
	height: 500px;
}

.card-color-fritzing {
	height: 500px;
}

.card-color-ltspice {
	height: 500px;
}

.card-color-bsch3v {
	height: 500px;
}

.card-color-flatcam {
	height: 500px;
}

.card-color-usbcnc {
	height: 500px;
}

.card-color-kanken {
	height: 500px;
}

.skill-title {
	padding: 1px;
}

.skill-icon-html {
	padding: 0 62px;
}

.skill-icon-css {
	padding: 0 62px;
}

.skill-icon-javascript {
	padding: 0 62px;
}

.skill-icon-php {
	width: 57%;
	margin: 0;
	padding: 0 52px;
}

.skill-icon-mysql {
	padding: 0 62px;
}

.skill-icon-github {
	padding: 0 62px;
}

.skill-icon-arduino {
	padding: 0 62px;
}

.skill-icon-arcad {
	padding: 0 62px;
}

.skill-icon-autocad {
	width: 89%;
	margin: 0;
	padding: 0 20px;
}

.skill-icon-solidworks {
	padding: 0 62px;
}

.skill-icon-stream {
	width: 48%;
	margin: 0;
	padding: 0 64px;
}

.skill-icon-fritzing {
	padding: 0 62px;
}

.skill-icon-ltspice {
	width: 92%;
	margin: 0;
	padding: 0 10px;
}

.skill-icon-bsch3v {
	padding: 0 62px;
}

.skill-icon-flatcam {
	padding: 0 62px;
}

.skill-icon-usbcnc {
	width: 70%;
	margin: 0;
	padding: 0 37px;
}

.skill-icon-kanken {
	width: 88%;
	margin: 0;
	padding: 0 15px;
}

.section-text {
	padding: 0 15px;
}

.section-text {
	padding: 7px;
}

.book {
	font-size: 9px;
}

.book-title {
	font-size: 7px;
}

.card-app {
	width: 550px;
}

.card-color-graph {
	height: 350px;
}

.card-color-sort {
	height: 350px;
}

.card-color-search {
	height: 350px;
}

.card-color-titlesindex {
	height: 350px;
}

}

/* ---------------------- 画面の横幅が600px以下の場合に適用（スマートフォン用） ---------------------- */
@media screen and (max-width: 600px) {

body {
font-size: 10px;
}

ul, li {
	margin-left: 5px;
	padding: 0;
}

nav {
	max-width: 85px;
	font-size: 11px;
	padding-bottom: 2100px; /* 要素内の余白を指定 */
	margin-bottom:-2100px;
}

.github-icon {
	margin: 20px 10px;
}

h1 {
	margin-left: 100px;
}

main {
	max-width: 330px;
	margin: 140px 0 0 40px;
}

.photo {
		float: none;
		margin-left: 70px;
		width: 65%;
}

table {
	margin-left: 0;
	padding-left: 6em;
	padding-right: 1em;
}

table th {
	padding: 0; /* セル内の余白を指定 */
	width: 20%; /* 横同士のセルの比率を指定 */
}

table td {
	padding: 0;
	width: 80%;
}

section {
	max-width: 280px;
	margin-left: 50px;
}

.title {
	width: 95%;
	margin-top: 50px;
}

.card {
	width: 120px;
	margin: 20px 10px;
}

.card-color-html {
	height: 400px;
}

.card-color-css {
	height: 400px;
}

.card-color-javascript {
	height: 400px;
}

.card-color-php {
	height: 400px;
}

.card-color-mysql {
	height: 400px;
}

.card-color-github {
	height: 400px;
}

.card-color-arduino {
	height: 400px;
}

.card-color-arcad {
	height: 400px;
}

.card-color-autocad {
	height: 400px;
}

.card-color-solidworks {
	height: 400px;
}

.card-color-stream {
	height: 400px;
}

.card-color-fritzing {
	height: 400px;
}

.card-color-ltspice {
	height: 400px;
}

.card-color-bsch3v {
	height: 400px;
}

.card-color-flatcam {
	height: 400px;
}

.card-color-usbcnc {
	height: 400px;
}

.card-color-kanken {
	height: 400px;
}

.skill-icon-html {
	padding: 0 31px;
}

.skill-icon-css {
	padding: 0 31px;
}

.skill-icon-javascript {
	padding: 0 31px;
}

.skill-icon-php {
	width: 57%;
	margin: 0;
	padding: 0 26px;
}

.skill-icon-mysql {
	padding: 0 31px;
}

.skill-icon-github {
	padding: 0 31px;
}

.skill-icon-arduino {
	padding: 0 31px;
}

.skill-icon-arcad {
	padding: 0 31px;
}

.skill-icon-autocad {
	width: 89%;
	margin: 0;
	padding: 0 10px;
}

.skill-icon-solidworks {
	padding: 0 31px;
}

.skill-icon-stream {
	width: 48%;
	margin: 0;
	padding: 0 32px;
}

.skill-icon-fritzing {
	padding: 0 31px;
}

.skill-icon-ltspice {
	width: 92%;
	margin: 0;
	padding: 0 5px;
}

.skill-icon-bsch3v {
	padding: 0 31px;
}

.skill-icon-flatcam {
	padding: 0 31px;
}

.skill-icon-usbcnc {
	width: 70%;
	margin: 0;
	padding: 0 18px;
}

.skill-icon-kanken {
	width: 88%;
	margin: 0;
	padding: 0 7px;
}

.book {
	font-size: 9px;
}

.book-title {
	font-size: 7px;
}

.app-photo {
	width: 96%;
	margin: 0;
	padding: 20px 5px 0px 5px;
}

.card-app {
	width: 240px;
	margin: 30px 20px;
}

.card-color-graph {
	height: 280px;
}

.card-color-sort {
	height: 280px;
}

.card-color-search {
	height: 280px;
}

.card-color-titlesindex {
	height: 280px;
}

}
